<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcmo.z.module_collect" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".CollectApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".CollectActivity">

        </activity>
        <activity android:name=".TmpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
